
#shop .img-box{
   width: 225px;
   height: 250px;
   background-color: #303F9F;
   position: relative;
}
#shop .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
}
#shop .img-box a{
    position: absolute;
    inset: 0;
}
#shop .content{
    display: flex;
    flex-direction: column;
    margin-block: 16px;
    width: 225px;
}

#shop .book-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#shop .book-info .Author-book{
    color: #303F9F;
    font-size: 12px;
    margin-left: 15px;
}

#shop .title-store-product{
    color: #212121;
}